<div class="index__billboard">
  <h1>Marionette <span>Wires</span> Revisited</h1>
  <p>An opinionated starter application built with <a href="http://marionettejs.com/">Marionette.js</a>.</p>
  <p>Source code at <a href="https://github.com/blikblum/marionette-wires-revisited">GitHub</a>.</p>
</div>
